<% @posts.each do |post| %>
  <%= render(post) %>
<% end %>

<%# Outra forma simples de renderizar os posts  %>
<%# <%= render(post) %>

<hr>

<div class="text-right">
  <%= link_to "Criar post", new_post_path, class: "btn btn-success" %>
</div>